* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
  -webkit-tap-highlight-color: transparent;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #e8cca0;
  
  font-family: "vazir", "Arial Narrow", Arial, sans-serif;
}

ul,
li,
a,
button {
  display: flex;
  text-decoration: none;
  font-size: 16px;
  font-family: vazir;
}

#scroll0,
#scroll1,
#scroll2,
#scroll3,
#scroll4,
#scroll5 {
  scroll-margin-top: 140px;
}
::selection {
  background: #6f4e37;
  color: #fcddae;
}
img {
  user-select: none;
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f150c;
}

::-webkit-scrollbar-thumb {
  background: #c5a46d;
  border-radius: 10px;
}
.btn-menu {
  display: none;
}
.menu-icon {
  display: none;
}
